:root {
    --topBarColor: #17191C;
    --pageColor: #22252A;
    --darkPageColor: #181a1d;
    --vh: 1vh;
    --appHeight: 93;
    --textColor: #ffffff;
    --linkTextColor: #eeeeee;

    --white: #ffffff;
    --whiteHover: #bbbbbb;
    --whiteActive: #999999;

    --red: #ff0000;
    --green: #1d961d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--topBarColor);
    width: 100vw;
    height: calc(var(--vh) * 100);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: var(--textColor);

    font-size: 3vmin;
}

/* .app-container {
    width: 100vw;
    max-width: 800px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.top-bar, .nav-bar {
    height: calc(var(--vh) * (100 - var(--appHeight)));
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.app, .pages, .page {
    height: calc(var(--vh) * appHeight);
    width: 100%;
    background-color: var(--pageColor);
} */

.app-container {
    width: 100vw;
    height: calc(var(--vh) * 100);
}

.top-bar-container {
    width: 100vw;
    height: calc(var(--vh) * (100 - var(--appHeight)));
    background-color: var(--topBarColor);

    display: flex;
    align-items: center;
    justify-content: center;
}

.pages-container {
    width: 100vw;
    height: calc(var(--vh) * var(--appHeight));
    background-color: var(--pageColor);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar, .pages {
    width: 100vw;
    max-width: 800px;
    height: 100%;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.top-bar {
    flex-direction: row;
}

.pages {
    flex-direction: column;
}

.nav-bar {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.nav-link, .nav-link:visited {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    text-decoration: none;
    color: var(--linkTextColor);

    user-select: none;
    cursor: pointer;

    font-size: 2.3vmin;

    color: var(--white);

    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: var(--whiteHover);
}

.nav-link:active {
    color: var(--whiteActive);
}

.activeLink {
    background-color: var(--pageColor);
}

.page:not(.show) {
    opacity: 0;
    pointer-events: none;
    user-select: none;
    display: none;
}

.page {
    width: 100%;
    height: 100%;
}

.logo {
    height: 100%;
    width: auto;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.scramble {
    user-select: none;
    cursor: pointer;
    font-size: 4vmin;

    transition: color 0.2s ease-in-out;
    color: var(--white);
}

.scramble:hover {
    color: var(--whiteHover);
}

.scramble:active {
    color: var(--whiteActive);
}

.time {
    font-size: 10vmin;
    user-select: none;
}

.actions {
    letter-spacing: 2vmin;
    user-select: none;
}

.actions i, .actions span, .penaltyInfo i, .penaltyInfo span, .editSession {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    color: var(--white);
}

.actions i:hover, .actions span:hover, .penaltyInfo i:hover, .penaltyInfo span:hover, .editSession:hover {
    color: var(--whiteHover);
}

.actions i:active, .actions span:active, .penaltyInfo i:active, .penaltyInfo span:active, .editSession:active {
    color: var(--whiteActive);
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.solves {
    width: 100%;
    border-collapse:separate; 
    border-spacing:2vmin;
    position: relative;
    /* max-height: calc(var(--vh) * var(--appHeight));
    height: calc(var(--vh) * var(--appHeight)); */
    height: 70%;
    overflow-y: scroll;
    table-layout: fixed;
    display: table;
}

.solves thead th:nth-child(1), .slves tbody td:nth-child(1) {
    width: 35%;
}

.solves thead th:nth-child(2), .solves tbody td:nth-child(2) {
    width: 65%;
}

.solves thead, .solves tbody {
    display: block;
}

.solves tbody {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.solveTime {
    cursor: pointer;
}

.headerRow {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.space0 {
    letter-spacing: 0;
}

.penaltyInfo {
    user-select: none;
    letter-spacing: 2vmin;
}

.solveInfo:not(.showInfo) {
    opacity: 0;
    pointer-events: none;
    user-select: none;
    display: none;
}

.solveInfo, .addSessionUI, .editSessionUI {
    position: fixed;
    top: calc(var(--vh) / 2);
    left: 50%;
    transform: translate(-50%, 50%);

    width: 50vmin;
    height: 50vmin;

    background-color: var(--topBarColor);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    z-index: 11;
    filter: blur(0);

    user-select: none;

    padding: 2vmin;
}

.blurBackground, .app-container.blur {
    z-index: 10;
    filter: blur(6px);
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    user-select: none;

    position: fixed;
    top: 0;
    left: 0;

    height: calc(var(--vh) * 100);
    width: 100vw;
}

.hideBlur {
    opacity: 0;
    pointer-events: none;
    user-select: none;
    display: none;
}

.closeInfo {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--white);
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    font-size: 5vmin;
}

.closeInfo:hover {
    color: var(--whiteHover);
}

.closeInfo:active {
    color: var(--whiteActive);
}

.hide {
    display: none;
}

.sessions li::marker {
    display: none;
    content: "";
}

.sessions {
    height: 70%;
    max-height: 70%;
    overflow-y: scroll;
    width: 100%;
}

.sessions::-webkit-scrollbar, .solves tbody::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.sessions::-webkit-scrollbar-thumb, .solves tbody::-webkit-scrollbar-thumb {
    background: #FFFFFF;
}

.sessions, .solves tbody {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-right: -50px;
    padding-right: 50px;
}

.hideAddSessionUI, .hideEditSessionUI {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    user-select: none;
}

.sessions li {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    
    padding: 0.6vmin;
}

.currentSession {
    background-color: var(--darkPageColor);
}

.sessionNameSpan {
    width: 100%;
    height: 100%;
    cursor: pointer;
}